<a href="https://colab.research.google.com/github/Ninkrn/bsc_dpdm22/blob/main/Performance_Evaluation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from sklearn import datasets
iris_data = datasets.load_iris()

In [2]:
x = iris_data['data']
y = iris_data['target']

In [3]:
from sklearn.datasets import load_iris
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score, KFold

In [4]:
# load the iris dataset
iris = load_iris()

In [6]:
# Create decision tree classifier
model = DecisionTreeClassifier()

# Define 10-fold cross validation
cv = KFold(n_splits=10, shuffle=True, random_state=1)

# Train and evaluate decision tree with cross validation
scores = cross_val_score(clf, iris.data, iris.target, cv=cv)

# Print mean accuracy and standard deviation of accuracy across all folds
print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))

NameError: ignored

In [7]:
x

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2],
       [5.4, 3.9, 1.7, 0.4],
       [4.6, 3.4, 1.4, 0.3],
       [5. , 3.4, 1.5, 0.2],
       [4.4, 2.9, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [5.4, 3.7, 1.5, 0.2],
       [4.8, 3.4, 1.6, 0.2],
       [4.8, 3. , 1.4, 0.1],
       [4.3, 3. , 1.1, 0.1],
       [5.8, 4. , 1.2, 0.2],
       [5.7, 4.4, 1.5, 0.4],
       [5.4, 3.9, 1.3, 0.4],
       [5.1, 3.5, 1.4, 0.3],
       [5.7, 3.8, 1.7, 0.3],
       [5.1, 3.8, 1.5, 0.3],
       [5.4, 3.4, 1.7, 0.2],
       [5.1, 3.7, 1.5, 0.4],
       [4.6, 3.6, 1. , 0.2],
       [5.1, 3.3, 1.7, 0.5],
       [4.8, 3.4, 1.9, 0.2],
       [5. , 3. , 1.6, 0.2],
       [5. , 3.4, 1.6, 0.4],
       [5.2, 3.5, 1.5, 0.2],
       [5.2, 3.4, 1.4, 0.2],
       [4.7, 3.2, 1.6, 0.2],
       [4.8, 3.1, 1.6, 0.2],
       [5.4, 3.4, 1.5, 0.4],
       [5.2, 4.1, 1.5, 0.1],
       [5.5, 4.2, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.2],
       [5. , 3.2, 1.2, 0.2],
       [5.5, 3.5, 1.3, 0.2],
       [4.9, 3.6, 1.4, 0.1],
       [4.4, 3. , 1.3, 0.2],
       [5.1, 3.4, 1.5, 0.2],
       [5. , 3.5, 1.3, 0.3],
       [4.5, 2.3, 1.3, 0.3],
       [4.4, 3.2, 1.3, 0.2],
       [5. , 3.5, 1.6, 0.6],
       [5.1, 3.8, 1.9, 0.4],
       [4.8, 3. , 1.4, 0.3],
       [5.1, 3.8, 1.6, 0.2],
       [4.6, 3.2, 1.4, 0.2],
       [5.3, 3.7, 1.5, 0.2],
       [5. , 3.3, 1.4, 0.2],
       [7. , 3.2, 4.7, 1.4],
       [6.4, 3.2, 4.5, 1.5],
       [6.9, 3.1, 4.9, 1.5],
       [5.5, 2.3, 4. , 1.3],
       [6.5, 2.8, 4.6, 1.5],
       [5.7, 2.8, 4.5, 1.3],
       [6.3, 3.3, 4.7, 1.6],
       [4.9, 2.4, 3.3, 1. ],
       [6.6, 2.9, 4.6, 1.3],
       [5.2, 2.7, 3.9, 1.4],
       [5. , 2. , 3.5, 1. ],
       [5.9, 3. , 4.2, 1.5],
       [6. , 2.2, 4. , 1. ],
       [6.1, 2.9, 4.7, 1.4],
       [5.6, 2.9, 3.6, 1.3],
       [6.7, 3.1, 4.4, 1.4],
       [5.6, 3. , 4.5, 1.5],
       [5.8, 2.7, 4.1, 1. ],
       [6.2, 2.2, 4.5, 1.5],
       [5.6, 2.5, 3.9, 1.1],
       [5.9, 3.2, 4.8, 1.8],
       [6.1, 2.8, 4. , 1.3],
       [6.3, 2.5, 4.9, 1.5],
       [6.1, 2.8, 4.7, 1.2],
       [6.4, 2.9, 4.3, 1.3],
       [6.6, 3. , 4.4, 1.4],
       [6.8, 2.8, 4.8, 1.4],
       [6.7, 3. , 5. , 1.7],
       [6. , 2.9, 4.5, 1.5],
       [5.7, 2.6, 3.5, 1. ],
       [5.5, 2.4, 3.8, 1.1],
       [5.5, 2.4, 3.7, 1. ],
       [5.8, 2.7, 3.9, 1.2],
       [6. , 2.7, 5.1, 1.6],
       [5.4, 3. , 4.5, 1.5],
       [6. , 3.4, 4.5, 1.6],
       [6.7, 3.1, 4.7, 1.5],
       [6.3, 2.3, 4.4, 1.3],
       [5.6, 3. , 4.1, 1.3],
       [5.5, 2.5, 4. , 1.3],
       [5.5, 2.6, 4.4, 1.2],
       [6.1, 3. , 4.6, 1.4],
       [5.8, 2.6, 4. , 1.2],
       [5. , 2.3, 3.3, 1. ],
       [5.6, 2.7, 4.2, 1.3],
       [5.7, 3. , 4.2, 1.2],
       [5.7, 2.9, 4.2, 1.3],
       [6.2, 2.9, 4.3, 1.3],
       [5.1, 2.5, 3. , 1.1],
       [5.7, 2.8, 4.1, 1.3],
       [6.3, 3.3, 6. , 2.5],
       [5.8, 2.7, 5.1, 1.9],
       [7.1, 3. , 5.9, 2.1],
       [6.3, 2.9, 5.6, 1.8],
       [6.5, 3. , 5.8, 2.2],
       [7.6, 3. , 6.6, 2.1],
       [4.9, 2.5, 4.5, 1.7],
       [7.3, 2.9, 6.3, 1.8],
       [6.7, 2.5, 5.8, 1.8],
       [7.2, 3.6, 6.1, 2.5],
       [6.5, 3.2, 5.1, 2. ],
       [6.4, 2.7, 5.3, 1.9],
       [6.8, 3. , 5.5, 2.1],
       [5.7, 2.5, 5. , 2. ],
       [5.8, 2.8, 5.1, 2.4],
       [6.4, 3.2, 5.3, 2.3],
       [6.5, 3. , 5.5, 1.8],
       [7.7, 3.8, 6.7, 2.2],
       [7.7, 2.6, 6.9, 2.3],
       [6. , 2.2, 5. , 1.5],
       [6.9, 3.2, 5.7, 2.3],
       [5.6, 2.8, 4.9, 2. ],
       [7.7, 2.8, 6.7, 2. ],
       [6.3, 2.7, 4.9, 1.8],
       [6.7, 3.3, 5.7, 2.1],
       [7.2, 3.2, 6. , 1.8],
       [6.2, 2.8, 4.8, 1.8],
       [6.1, 3. , 4.9, 1.8],
       [6.4, 2.8, 5.6, 2.1],
       [7.2, 3. , 5.8, 1.6],
       [7.4, 2.8, 6.1, 1.9],
       [7.9, 3.8, 6.4, 2. ],
       [6.4, 2.8, 5.6, 2.2],
       [6.3, 2.8, 5.1, 1.5],
       [6.1, 2.6, 5.6, 1.4],
       [7.7, 3. , 6.1, 2.3],
       [6.3, 3.4, 5.6, 2.4],
       [6.4, 3.1, 5.5, 1.8],
       [6. , 3. , 4.8, 1.8],
       [6.9, 3.1, 5.4, 2.1],
       [6.7, 3.1, 5.6, 2.4],
       [6.9, 3.1, 5.1, 2.3],
       [5.8, 2.7, 5.1, 1.9],
       [6.8, 3.2, 5.9, 2.3],
       [6.7, 3.3, 5.7, 2.5],
       [6.7, 3. , 5.2, 2.3],
       [6.3, 2.5, 5. , 1.9],
       [6.5, 3. , 5.2, 2. ],
       [6.2, 3.4, 5.4, 2.3],
       [5.9, 3. , 5.1, 1.8]])

transfrom numpy array to dataframe

In [8]:
import pandas as pd

In [9]:
 columns = iris['feature_names']
 x_df = pd.DataFrame(x, columns=columns)

In [10]:
x_df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [11]:
x_df['label']=y

In [12]:
x_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [13]:
shuffled_df = x_df.sample(frac=1,random_state=6)
shuffled_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
4,5.0,3.6,1.4,0.2,0
116,6.5,3.0,5.5,1.8,2
2,4.7,3.2,1.3,0.2,0
23,5.1,3.3,1.7,0.5,0
123,6.3,2.7,4.9,1.8,2
...,...,...,...,...,...
148,6.2,3.4,5.4,2.3,2
79,5.7,2.6,3.5,1.0,1
109,7.2,3.6,6.1,2.5,2
106,4.9,2.5,4.5,1.7,2
138,6.0,3.0,4.8,1.8,2

In [14]:
shuffled_df['fold']=15*[1,2,3,4,5,6,7,8,9,10]

In [15]:
shuffled_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label,fold
4,5.0,3.6,1.4,0.2,0,1
116,6.5,3.0,5.5,1.8,2,2
2,4.7,3.2,1.3,0.2,0,3
23,5.1,3.3,1.7,0.5,0,4
123,6.3,2.7,4.9,1.8,2,5
...,...,...,...,...,...,...
148,6.2,3.4,5.4,2.3,2,6
79,5.7,2.6,3.5,1.0,1,7
109,7.2,3.6,6.1,2.5,2,8
106,4.9,2.5,4.5,1.7,2,9
138,6.0,3.0,4.8,1.8,2,10

# HW6 วนลูปทำ 10-fold cross validation

In [16]:

from sklearn.tree import DecisionTreeClassifier 
from sklearn.model_selection import KFold
from sklearn.datasets import load_iris

In [17]:

# Load the iris dataset (โหลดชุดข้อมูล iris)
iris = load_iris()
x = iris.data #แยกข้อมูล iris.data เป็น Input โดยใช้เป็นตัวแปร X
y = iris.target #แยกข้อมูล iris.target เป็น Output โดยใช้เป็นตัวแปร y

# Create a decision tree classifier (สร้างต้นไม้ตัดสินใจ)
clf = DecisionTreeClassifier()

# assuming you have your data x and target variable y (สมมติว่าคุณมีข้อมูล x และตัวแปรเป้าหมาย y)
kf = KFold(n_splits=10, shuffle=True, random_state=42) # ใช้ฟังก์ชัน KFold จาก scikit-learn แบ่งข้อมูล ออกเป็น 10-fold
# โดยมีการสับเปลี่ยนและสุ่มในการทำซ้ำ จะใช้ Random_state=42 เพื่อเริ่มต้นตัวสร้างตัวเลขสุ่มที่ฟังก์ชันใช้เพื่อสับเปลี่ยนข้อมูลก่อนที่จะแยกออกเป็นหลายส่วน
# โดยการตั้งค่า random_state เป็นค่าคงที่ (ในกรณีนี้คือ 42 เป็นค่าที่กำหนดขึ้นเองและไม่มีความหมายพิเศษ - สามารถตั้งค่าเป็นค่าจำนวนเต็มใดๆ ก็ได้) ฟังก์ชันจะสับเปลี่ยนข้อมูลด้วยวิธีเดียวกันทุกครั้งที่รันด้วยค่านั้น
for train_index, test_index in kf.split(x): #วนซ้ำแต่ละส่วนและแบ่งข้อมูลออกเป็น train_index, test_index #โดยใช้ดัชนีที่ส่งคืนโดย KFold.split()
    x_train, x_test = x[train_index], x[test_index]
    y_train, y_test = y[train_index], y[test_index]
    # train your model using x_train and y_train
    # evaluate your model using x_test and y_test

  # Train the decision tree on the training data for this fold ตัดสินใจเกี่ยวกับข้อมูล training 
    clf.fit(x_train, y_train)

In [18]:

from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

scores = cross_val_score(model, x, y, cv=kf) #ตรวจสอบข้าม 'model' วัตถุโดยใช้ 'kf' ที่ตั้งไว้ก่อนหน้า #  พารามิเตอร์ 'cv' ถูกตั้งค่า 'kf' เพื่อระบุว่าเราต้องการใช้การตรวจสอบข้าม 10-fold # คะแนนที่ได้จะถูกเก็บไว้ใน scores 
for fold, score in enumerate(scores): #สั่งวนซ้ำ
    print("Fold {}: Accuracy = {:.2f}".format(fold+1, score))

Fold 1: Accuracy = 1.00
Fold 2: Accuracy = 1.00
Fold 3: Accuracy = 1.00
Fold 4: Accuracy = 1.00
Fold 5: Accuracy = 1.00
Fold 6: Accuracy = 0.87
Fold 7: Accuracy = 0.87
Fold 8: Accuracy = 1.00
Fold 9: Accuracy = 0.87
Fold 10: Accuracy = 0.93

เฉลย HW6

In [35]:
from sklearn.metrics import accuracy_score
import numpy as np

In [29]:
test_fold = 1  #ฌฮษFOLDที่1มาเป็นtest

test_data = shuffled_df[shuffled_df['fold'] ==test_fold]    #ต้ดดาต้าด้านrowเป็นteainกับtest
training_data = shuffled_df[shuffled_df['fold'] !=test_fold]

In [30]:
test_data.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label,fold
4,5.0,3.6,1.4,0.2,0,1
127,6.1,3.0,4.9,1.8,2,1
37,4.9,3.6,1.4,0.1,0,1
45,4.8,3.0,1.4,0.3,0,1
17,5.1,3.5,1.4,0.3,0,1

In [31]:
x_test = test_data.iloc[:,:-2]
y_test = test_data.iloc[:,-2]
y_train = training_data.iloc[:,:-2]
y_train = training_data.iloc[:,-2]

In [32]:
model = DecisionTreeClassifier(max_depth=2)
model.fit(x_train,y_train)
y_predict = model.predict(x_test)

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:443: UserWarning: X has feature names, but DecisionTreeClassifier was fitted without feature names
  warnings.warn(

In [33]:
acc = accuracy_score(y_test,y_predict)
print(f'accuracy of fold {test_fold} = {acc}')

accuracy of fold 1 = 0.06666666666666667

In [36]:
acc_fold=[]
for test_fold in range(1,11):
    test_data = shuffled_df[shuffled_df['fold'] ==test_fold]    #ต้ดดาต้าด้านrowเป็นteainกับtest
    training_data = shuffled_df[shuffled_df['fold'] !=test_fold]

    x_test = test_data.iloc[:,:-2]
    y_test = test_data.iloc[:,-2]
    y_train = training_data.iloc[:,:-2]
    y_train = training_data.iloc[:,-2]

    model = DecisionTreeClassifier(max_depth=2)
    model.fit(x_train,y_train)
    y_predict = model.predict(x_test)

    acc = accuracy_score(y_test,y_predict)
    print(f'accuracy of fold {test_fold} = {acc}')
    acc_fold.append(acc)
print(f'\naverage accuracy = {np.mean(acc)}')

accuracy of fold 1 = 0.06666666666666667
accuracy of fold 2 = 0.6666666666666666
accuracy of fold 3 = 0.4
accuracy of fold 4 = 0.4
accuracy of fold 5 = 0.2
accuracy of fold 6 = 0.4666666666666667
accuracy of fold 7 = 0.26666666666666666
accuracy of fold 8 = 0.2
accuracy of fold 9 = 0.4
accuracy of fold 10 = 0.0

average accuracy = 0.0

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:443: UserWarning: X has feature names, but DecisionTreeClassifier was fitted without feature names
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/sklearn/base.py:443: UserWarning: X has feature names, but DecisionTreeClassifier was fitted without feature names
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/sklearn/base.py:443: UserWarning: X has feature names, but DecisionTreeClassifier was fitted without feature names
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/sklearn/base.py:443: UserWarning: X has feature names, but DecisionTreeClassifier was fitted without feature names
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/sklearn/base.py:443: UserWarning: X has feature names, but DecisionTreeClassifier was fitted without feature names
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/sklearn/base.py:443: UserWarning: X has feature names, but DecisionTreeClassifier was fitted without feature names
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/sklearn/base.py:443: UserWarning: X has feature names, but DecisionTreeClassifier was fitted without feature names
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/sklearn/base.py:443: UserWarning: X has feature names, but DecisionTreeClassifier was fitted without feature names
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/sklearn/base.py:443: UserWarning: X has feature names, but DecisionTreeClassifier was fitted without feature names
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/sklearn/base.py:443: UserWarning: X has feature names, but DecisionTreeClassifier was fitted without feature names
  warnings.warn(