<a href="https://colab.research.google.com/github/Ninkrn/bsc_dpdm22/blob/main/project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import statsmodels.api as sm
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import pandas as pd
import json
from matplotlib import pyplot as plt
from sklearn.metrics import mean_absolute_percentage_error as MAPE

In [5]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score, KFold

In [2]:
#เชื่อม google drive 
from google.colab import drive 
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [4]:
import os
os.chdir('/content/gdrive/MyDrive/BPDM/Project')

In [7]:
data_test = pd.read_csv('/content/gdrive/MyDrive/BPDM/Project/Test.csv')
print(data_test.shape) # shown nomber of (row, column)
data_test.head(3)

(2627, 11)

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,458989,Female,Yes,36,Yes,Engineer,0.0,Low,1.0,Cat_6,B
1,458994,Male,Yes,37,Yes,Healthcare,8.0,Average,4.0,Cat_6,A
2,458996,Female,Yes,69,No,NaN,0.0,Low,1.0,Cat_6,A

In [9]:
data_test.isnull().any()

ID                 False
Gender             False
Ever_Married        True
Age                False
Graduated           True
Profession          True
Work_Experience     True
Spending_Score     False
Family_Size         True
Var_1               True
Segmentation       False
dtype: bool

In [13]:
print(len(data_test[data_test['Graduated'].isnull()])) #we used dropna()
data_test = data_test.dropna(subset=['Graduated'])

23

In [15]:
print(len(data_test[data_test['Profession'].isnull()])) #we used dropna()
data_test = data_test.dropna(subset=['Profession'])

35

In [14]:
print(len(data_test[data_test['Ever_Married'].isnull()])) #we used dropna()
data_test = data_test.dropna(subset=['Ever_Married'])

0

In [16]:
print(len(data_test[data_test['Work_Experience'].isnull()])) #we used dropna()
data_test = data_test.dropna(subset=['Work_Experience'])

253

In [17]:
print(len(data_test[data_test['Family_Size'].isnull()])) #we used dropna()
data_test = data_test.dropna(subset=['Family_Size'])

88

In [18]:
#fill NA with Text 
data_test['Graduated'] = data_test['Graduated'].fillna('Unknown') #จบการศึกษาfillnaว่าunknown 
data_test['Profession'] = data_test['Profession'].fillna('Unknown') #อาชีพ

In [19]:
# fill NA with 0,1
data_test[['Work_Experience']]  = data_test[['Work_Experience']].fillna(0) #ประสบการณ์การทำงาน
data_test[['Family_Size']]  = data_test[['Family_Size']].fillna(1) #อย่างน้อยก็ต้องอยู่คนเดียว

In [21]:
del data_test['Var_1']

In [22]:
data_test.isnull().any()

ID                 False
Gender             False
Ever_Married       False
Age                False
Graduated          False
Profession         False
Work_Experience    False
Spending_Score     False
Family_Size        False
Segmentation       False
dtype: bool

In [8]:
data_train = pd.read_csv('/content/gdrive/MyDrive/BPDM/Project/Train.csv')
print(data_train.shape) # shown nomber of (row, column)
data_train.head(3)

(8068, 11)

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,462809,Male,No,22,No,Healthcare,1.0,Low,4.0,Cat_4,D
1,462643,Female,Yes,38,Yes,Engineer,NaN,Average,3.0,Cat_4,A
2,466315,Female,Yes,67,Yes,Engineer,1.0,Low,1.0,Cat_6,B

In [23]:
data_train.isnull().any()

ID                 False
Gender             False
Ever_Married        True
Age                False
Graduated           True
Profession          True
Work_Experience     True
Spending_Score     False
Family_Size         True
Var_1               True
Segmentation       False
dtype: bool

In [31]:
print(len(data_train[data_train['Ever_Married'].isnull()])) #we used dropna()
data_train = data_train.dropna(subset=['Ever_Married'])

111

In [28]:
print(len(data_train[data_train['Graduated'].isnull()])) #we used dropna()
data_train = data_train.dropna(subset=['Graduated'])

78

In [29]:
print(len(data_train[data_train['Profession'].isnull()])) #we used dropna()
data_train = data_train.dropna(subset=['Profession'])

117

In [30]:
print(len(data_train[data_train['Work_Experience'].isnull()])) #we used dropna()
data_train = data_train.dropna(subset=['Work_Experience'])

793

In [32]:
print(len(data_train[data_train['Family_Size'].isnull()])) #we used dropna()
data_train = data_train.dropna(subset=['Family_Size'])

251

In [33]:
del data_train['Var_1']

In [34]:
#fill NA with Text 
data_train['Graduated'] = data_train['Graduated'].fillna('Unknown')  #จบการศึกษาfillnaว่าunknown 
data_train['Ever_Married'] = data_train['Ever_Married'].fillna('Unknown') #สถานภาพการสมรส
data_train['Profession'] = data_train['Profession'].fillna('Unknown') #อาชีพ
# fill NA with 0,1
data_train[['Work_Experience']]  = data_train[['Work_Experience']].fillna(0) #ประสบการณ์การทำงาน
data_train[['Family_Size']]  = data_train[['Family_Size']].fillna(1) #อย่างน้อยก็ต้องอยู่คนเดียว

In [35]:
data_train.isnull().any()

ID                 False
Gender             False
Ever_Married       False
Age                False
Graduated          False
Profession         False
Work_Experience    False
Spending_Score     False
Family_Size        False
Segmentation       False
dtype: bool